<h1>{{ title }}</h1>
<p>
  Here is a research project...
</p>

<img src="../../assets/img/quilt-jpgs/IMG_0834.jpg" alt="quilt img 1" width="10%"/>
<img src="../../assets/img/quilt-jpgs/IMG_0835.jpg" alt="quilt img 2" width="10%"/>
<img src="../../assets/img/quilt-jpgs/IMG_0836.jpg" alt="quilt img 3" width="10%"/>
<img src="../../assets/img/quilt-jpgs/IMG_0837.jpg" alt="quilt img 4" width="10%"/>
<img src="../../assets/img/quilt-jpgs/IMG_0838.jpg" alt="quilt img 5" width="10%"/>
<img src="../../assets/img/quilt-jpgs/IMG_0839.jpg" alt="quilt img 6" width="10%"/>
<img src="../../assets/img/quilt-jpgs/IMG_0840.jpg" alt="quilt img 7" width="10%"/>
<img src="../../assets/img/quilt-jpgs/IMG_0841.jpg" alt="quilt img 8" width="10%"/>
