#title{
  text-align: center;
  font-size: 48px;
}
.tile{
  padding: 10px;
  border-radius: 10%;
  transition: all .2s ease-in-out;
  background-color: rgb(51, 14, 32);
  //#40152A;
}
.tile:hover {
  transform: scale(1.1);
}
  #quilt{
  text-align: center;
}
.hasDesc{
  background-color: #CC1F2D;
}
