h1{
  text-align: center;
  font-size: 24pt;
}
.zoomed-image {
  background-size: cover;
  cursor: pointer;
}
.tileImg{
  padding: 10px;
  border-radius: 10%;
  float: left;
  text-align: left;
}
span.indented{
  text-indent: 70px;
}
span.noIndent{
  text-indent: 0px;
  border-radius: 5px;

}
span{
  overflow-y: scroll;
}
a{
  font-size: 16pt;
  font-weight: bold;
  color: #9dd8ff;
}

.tileImg{
  transition: all .5s ease-in-out;
}
.tileImg:hover {
  transform: scale(1.4);
}
.backToQuilt {
  color: #600473;
}
.prevTile{
  float: left;
}
.nextTile{
  float: right;
}
.galleryPic{
  border-radius: 5%;
  height: 500px;
}
