<a routerLink="../../home"><< Back to Quilt</a>

<div class="row">
  <div class="prevTile" *ngIf="prevTile" col-3>
    <a href="../details/{{ prevTile.id }}">< Previous Tile</a>
  </div>
  <div class="nextTile" *ngIf="nextTile" col-3>
    <a href="../details/{{ nextTile.id }}"> Next Tile ></a>
  </div>
</div>

<br/>
<br/>

<div *ngIf="tile">
  <h1> {{ tile.title }} </h1>
  <div class="row">
    <div col-xs-5>
      <img src="{{ tile.imagePath }}"
      class='tileImg'
      width='40%'/>
    </div>
    <div col-xs-5>
    <span class="" [innerHTML]='tile.details'>
    </span>
    </div>
    <br/>
  </div>
</div>


