h1{
  text-align: center;
  font-size: 24pt;
}
.zoomed-image {
  background-size: cover;
  cursor: pointer;
}
.tileImg{
  padding: 10px;
  border-radius: 10%;
  float: left;
  text-align: left;
}
span.tileDetails{
  text-indent: 70px;
}
span{
  overflow-y: scroll;
}
// a, a:active{
//   color: #9dd8ff;
// }
a{
  transition: all .2s ease-in-out;
}
.a:hover {
  transform: scale(1.01);
}
.tileImg{
  transition: all .5s ease-in-out;
}
.tileImg:hover {
  transform: scale(1.4);
}
.prevTile{
  float: left;
}
.nextTile{
  float: right;
}
