h1{
  text-align: center;
  font-size: 24pt;
}

.tileImg{
  padding: 10px;
  border-radius: 10%;
  float: left;
  text-align: left;
}
.details{
  height: 450px;
  overflow-y: scroll;
}
img .noDesc{
  width: 60%;
}
p .noDesc{
  display: none;
}
